iolib/__pycache__/usi.cpython-38.pyc
iolib/__pycache__/NBSR.cpython-38.pyc
iolib/__pycache__/nonblocking.cpython-38.pyc
YaneuraOu-dolphin2-by-clang-tournament-avx2.exe
__pycache__/config.cpython-38.pyc
__pycache__/imgset.cpython-38.pyc
__pycache__/infoparser.cpython-38.pyc
__pycache__/InoutLib.cpython-38.pyc
__pycache__/NBSR.cpython-38.pyc
__pycache__/usi.cpython-38.pyc
__pycache__/vec2d.cpython-38.pyc
__pycache__/Vector2D.cpython-38.pyc
common/__pycache__/board.cpython-38.pyc
common/__pycache__/imgset.cpython-38.pyc
common/__pycache__/infoparser.cpython-38.pyc
common/__pycache__/vec2d.cpython-38.pyc
eval/nn.bin
iolib/__pycache__/inoutlib.cpython-38.pyc
unused/Board.py
unused/Kifu.py
unused/Mylib2.py
unused/testboard2.py
unused/Usi.py
__pycache__/config.cpython-36.pyc
common/__pycache__/board.cpython-36.pyc
common/__pycache__/imgset.cpython-36.pyc
iolib/__pycache__/nonblocking.cpython-36.pyc
iolib/__pycache__/usi.cpython-36.pyc
iolib/__pycache__/inoutlib.cpython-36.pyc
common/__pycache__/vec2d.cpython-36.pyc
common/__pycache__/infoparser.cpython-36.pyc
YaneuraOu-by-gcc
